# Exploratory Data Analysis with pandas Studio

## Data Analysis of IMDB movies data

#### Blocks have been created for your code

#### Click on the following link and download the dataset from [Kaggle](https://www.kaggle.com/PromptCloudHQ/imdb-data).

### 1. Read data

In [6]:
# import pandas
import pandas as pd

IMDB_Movie_Data = pd.read_csv(r"/Users/charl/Desktop/LaunchCode-Data-Analysis/Data-Analysis-Projects/eda-with-pandas/studio/IMDB-Studio/IMDB-Movie-Data.csv")
# create your data variabe using .read_csv 

# create your data_indexed variable here
IMDB_Movie_Data

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses
...,...,...,...,...,...,...,...,...,...,...,...
23481,23481,1104,34,Great dress for many occasions,I was very happy to snag this dress at such a ...,5,1,0,General Petite,Dresses,Dresses
23482,23482,862,48,Wish it was made of cotton,"It reminds me of maternity clothes. soft, stre...",3,1,0,General Petite,Tops,Knits
23483,23483,1104,31,"Cute, but see through","This fit well, but the top was very see throug...",3,0,1,General Petite,Dresses,Dresses
23484,23484,1084,28,"Very cute dress, perfect for summer parties an...",I bought this dress for a wedding i have this ...,3,1,2,General,Dresses,Dresses
23485,23485,1104,52,Please make more like this one!,This dress in a lovely platinum is feminine an...,5,1,22,General Petite,Dresses,Dresses

In [6]:
# If you are having trouble reading your file, try finding the path.  
    # Right click on your data set, on the pop-up menu select "Copy Path" then paste it into your read_csv() function.

In [13]:
# Read data with specified explicit index
# print(data_indexed)

import pandas as pd

file_path = '/Users/charl/Desktop/LaunchCode-Data-Analysis/Data-Analysis-Projects/eda-with-pandas/studio/IMDB-Studio/IMDB-Movie-Data.csv'
data = pd.read_csv(file_path)

data_indexed = data.set_index('Title')


print(data_indexed.head())

                         Rank                     Genre  \
Title
Guardians of the Galaxy     1   Action,Adventure,Sci-Fi
Prometheus                  2  Adventure,Mystery,Sci-Fi
Split                       3           Horror,Thriller
Sing                        4   Animation,Comedy,Family
Suicide Squad               5  Action,Adventure,Fantasy

                                                               Description  \
Title
Guardians of the Galaxy  A group of intergalactic criminals are forced ...
Prometheus               Following clues to the origin of mankind, a te...
Split                    Three girls are kidnapped by a man with a diag...
Sing                     In a city of humanoid animals, a hustling thea...
Suicide Squad            A secret government agency recruits some of th...

                                     Director  \
Title
Guardians of the Galaxy            James Gunn
Prometheus                       Ridley Scott
Split                      M. Night Shyamalan
Sing                     Christophe Lourdelet
Suicide Squad                      David Ayer

                                                                    Actors  \
Title
Guardians of the Galaxy  Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...
Prometheus               Noomi Rapace, Logan Marshall-Green, Michael Fa...
Split                    James McAvoy, Anya Taylor-Joy, Haley Lu Richar...
Sing                     Matthew McConaughey,Reese Witherspoon, Seth Ma...
Suicide Squad            Will Smith, Jared Leto, Margot Robbie, Viola D...

                         Year  Runtime (Minutes)  Rating   Votes  \
Title
Guardians of the Galaxy  2014                121     8.1  757074
Prometheus               2012                124     7.0  485820
Split                    2016                117     7.3  157606
Sing                     2016                108     7.2   60545
Suicide Squad            2016                123     6.2  393727

                         Revenue (Millions)  Metascore
Title
Guardians of the Galaxy              333.13       76.0
Prometheus                           126.46       65.0
Split                                138.12       62.0
Sing                                 270.32       59.0
Suicide Squad                        325.02       40.0

### 2. View Data
#### As we go through this section, write your own definitions of what each function does as a comment in the code box.

In [14]:
# Use the head() function to view the first 5 rows of the data set
import pandas as pd

file_path = '/Users/charl/Desktop/LaunchCode-Data-Analysis/Data-Analysis-Projects/eda-with-pandas/studio/IMDB-Studio/IMDB-Movie-Data.csv'
data = pd.read_csv(file_path)

data_indexed = data.set_index('Title')

print (data_indexed.head(5))

                         Rank                     Genre  \
Title
Guardians of the Galaxy     1   Action,Adventure,Sci-Fi
Prometheus                  2  Adventure,Mystery,Sci-Fi
Split                       3           Horror,Thriller
Sing                        4   Animation,Comedy,Family
Suicide Squad               5  Action,Adventure,Fantasy

                                                               Description  \
Title
Guardians of the Galaxy  A group of intergalactic criminals are forced ...
Prometheus               Following clues to the origin of mankind, a te...
Split                    Three girls are kidnapped by a man with a diag...
Sing                     In a city of humanoid animals, a hustling thea...
Suicide Squad            A secret government agency recruits some of th...

                                     Director  \
Title
Guardians of the Galaxy            James Gunn
Prometheus                       Ridley Scott
Split                      M. Night Shyamalan
Sing                     Christophe Lourdelet
Suicide Squad                      David Ayer

                                                                    Actors  \
Title
Guardians of the Galaxy  Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...
Prometheus               Noomi Rapace, Logan Marshall-Green, Michael Fa...
Split                    James McAvoy, Anya Taylor-Joy, Haley Lu Richar...
Sing                     Matthew McConaughey,Reese Witherspoon, Seth Ma...
Suicide Squad            Will Smith, Jared Leto, Margot Robbie, Viola D...

                         Year  Runtime (Minutes)  Rating   Votes  \
Title
Guardians of the Galaxy  2014                121     8.1  757074
Prometheus               2012                124     7.0  485820
Split                    2016                117     7.3  157606
Sing                     2016                108     7.2   60545
Suicide Squad            2016                123     6.2  393727

                         Revenue (Millions)  Metascore
Title
Guardians of the Galaxy              333.13       76.0
Prometheus                           126.46       65.0
Split                                138.12       62.0
Sing                                 270.32       59.0
Suicide Squad                        325.02       40.0

In [15]:
# Use the tail() function to view the last 5 rows of the data set
import pandas as pd

file_path = '/Users/charl/Desktop/LaunchCode-Data-Analysis/Data-Analysis-Projects/eda-with-pandas/studio/IMDB-Studio/IMDB-Movie-Data.csv'
data = pd.read_csv(file_path)

data_indexed = data.set_index('Title')

print (data_indexed.tail(5))

                        Rank                  Genre  \
Title
Secret in Their Eyes     996    Crime,Drama,Mystery
Hostel: Part II          997                 Horror
Step Up 2: The Streets   998    Drama,Music,Romance
Search Party             999       Adventure,Comedy
Nine Lives              1000  Comedy,Family,Fantasy

                                                              Description  \
Title
Secret in Their Eyes    A tight-knit team of rising investigators, alo...
Hostel: Part II         Three American college students studying abroa...
Step Up 2: The Streets  Romantic sparks occur between two dance studen...
Search Party            A pair of friends embark on a mission to reuni...
Nine Lives              A stuffy businessman finds himself trapped ins...

                                Director  \
Title
Secret in Their Eyes           Billy Ray
Hostel: Part II                 Eli Roth
Step Up 2: The Streets        Jon M. Chu
Search Party              Scot Armstrong
Nine Lives              Barry Sonnenfeld

                                                                   Actors  \
Title
Secret in Their Eyes    Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...
Hostel: Part II         Lauren German, Heather Matarazzo, Bijou Philli...
Step Up 2: The Streets  Robert Hoffman, Briana Evigan, Cassie Ventura,...
Search Party            Adam Pally, T.J. Miller, Thomas Middleditch,Sh...
Nine Lives              Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...

                        Year  Runtime (Minutes)  Rating  Votes  \
Title
Secret in Their Eyes    2015                111     6.2  27585
Hostel: Part II         2007                 94     5.5  73152
Step Up 2: The Streets  2008                 98     6.2  70699
Search Party            2014                 93     5.6   4881
Nine Lives              2016                 87     5.3  12435

                        Revenue (Millions)  Metascore
Title
Secret in Their Eyes                   NaN       45.0
Hostel: Part II                      17.54       46.0
Step Up 2: The Streets               58.01       50.0
Search Party                           NaN       22.0
Nine Lives                           19.64       11.0

### 3. Understand basic information about the data
#### As we go through this section, write your own definitions of what each function does as a comment in the code box.

In [16]:
# The info() function: 
import pandas as pd

file_path = '/Users/charl/Desktop/LaunchCode-Data-Analysis/Data-Analysis-Projects/eda-with-pandas/studio/IMDB-Studio/IMDB-Movie-Data.csv'
data = pd.read_csv(file_path)

data_indexed = data.set_index('Title')

print (data_indexed.info())

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, Guardians of the Galaxy to Nine Lives
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                1000 non-null   int64
 1   Genre               1000 non-null   object
 2   Description         1000 non-null   object
 3   Director            1000 non-null   object
 4   Actors              1000 non-null   object
 5   Year                1000 non-null   int64
 6   Runtime (Minutes)   1000 non-null   int64
 7   Rating              1000 non-null   float64
 8   Votes               1000 non-null   int64
 9   Revenue (Millions)  872 non-null    float64
 10  Metascore           936 non-null    float64
dtypes: float64(3), int64(4), object(4)
memory usage: 93.8+ KB
None

In [26]:
# shape:
import pandas as pd

file_path = '/Users/charl/Desktop/LaunchCode-Data-Analysis/Data-Analysis-Projects/eda-with-pandas/studio/IMDB-Studio/IMDB-Movie-Data.csv'
data = pd.read_csv(file_path)

data_indexed = data.set_index('Title')

print("The date shape:", data_indexed.shape)

# what information does shape provide?  what is the order?
# It shows the rows and columns in the order of rows and columns.

The date shape: (1000, 11)

In [18]:
# columns:
import pandas as pd

file_path = '/Users/charl/Desktop/LaunchCode-Data-Analysis/Data-Analysis-Projects/eda-with-pandas/studio/IMDB-Studio/IMDB-Movie-Data.csv'
data = pd.read_csv(file_path)

data_indexed = data.set_index('Title')

print("The column data is:", data_indexed.columns.tolist())

# what information does columns provide?
# It shows us what information we have available in our columns location.

The column data is: ['Rank', 'Genre', 'Description', 'Director', 'Actors', 'Year', 'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)', 'Metascore']

In [ ]:
# The describe() function: 
# It's a tool used in the function's of the pandas used for statistical summarizations.

### 4. Data Selection -- Indexing and Slicing

In [25]:
#  Extract data as series
import pandas as pd
ratings_series = data['Rating']
print(ratings_series.head())
# define and print the variable 'genre'
import pandas as pd

file_path = '/Users/charl/Desktop/LaunchCode-Data-Analysis/Data-Analysis-Projects/eda-with-pandas/studio/IMDB-Studio/IMDB-Movie-Data.csv'
data = pd.read_csv(file_path)

genre = data['Genre']

print(genre)

0    8.1
1    7.0
2    7.3
3    7.2
4    6.2
Name: Rating, dtype: float64
0       Action,Adventure,Sci-Fi
1      Adventure,Mystery,Sci-Fi
2               Horror,Thriller
3       Animation,Comedy,Family
4      Action,Adventure,Fantasy
                 ...
995         Crime,Drama,Mystery
996                      Horror
997         Drama,Music,Romance
998            Adventure,Comedy
999       Comedy,Family,Fantasy
Name: Genre, Length: 1000, dtype: object

In [ ]:
# Extract the data as a dataframe and print it
import pandas as pd

file_path = '/Users/charl/Desktop/LaunchCode-Data-Analysis/Data-Analysis-Projects/eda-with-pandas/studio/IMDB-Studio/IMDB-Movie-Data.csv'
data = pd.read_csv(file_path)

selected_columns = ['Title', 'Genre', 'Rating']
new_dataframe = date[selcted_columns]

print(new_dataframe)

In [31]:
# Extract data using rows
import pandas as pd

file_path = '/Users/charl/Desktop/LaunchCode-Data-Analysis/Data-Analysis-Projects/eda-with-pandas/studio/IMDB-Studio/IMDB-Movie-Data.csv'
data = pd.read_csv(file_path)
row_label = data.loc[10]
print(row_label)

# loc function
import pandas as pd

file_path = '/Users/charl/Desktop/LaunchCode-Data-Analysis/Data-Analysis-Projects/eda-with-pandas/studio/IMDB-Studio/IMDB-Movie-Data.csv'
data = pd.read_csv(file_path)
locate_row= data.loc[10]
print(locate_row)

Rank                                                                 11
Title                           Fantastic Beasts and Where to Find Them
Genre                                          Adventure,Family,Fantasy
Description           The adventures of writer Newt Scamander in New...
Director                                                    David Yates
Actors                Eddie Redmayne, Katherine Waterston, Alison Su...
Year                                                               2016
Runtime (Minutes)                                                   133
Rating                                                              7.5
Votes                                                            232072
Revenue (Millions)                                               234.02
Metascore                                                          66.0
Name: 10, dtype: object
Rank                                                                 11
Title                           Fantastic Beasts and Where to Find Them
Genre                                          Adventure,Family,Fantasy
Description           The adventures of writer Newt Scamander in New...
Director                                                    David Yates
Actors                Eddie Redmayne, Katherine Waterston, Alison Su...
Year                                                               2016
Runtime (Minutes)                                                   133
Rating                                                              7.5
Votes                                                            232072
Revenue (Millions)                                               234.02
Metascore                                                          66.0
Name: 10, dtype: object

In [34]:
# iloc function
import pandas as pd

file_path = '/Users/charl/Desktop/LaunchCode-Data-Analysis/Data-Analysis-Projects/eda-with-pandas/studio/IMDB-Studio/IMDB-Movie-Data.csv'
data = pd.read_csv(file_path)
index_locate= data.iloc[10:20]
print(index_locate)

    Rank                                    Title                       Genre  \
10    11  Fantastic Beasts and Where to Find Them    Adventure,Family,Fantasy
11    12                           Hidden Figures     Biography,Drama,History
12    13                                Rogue One     Action,Adventure,Sci-Fi
13    14                                    Moana  Animation,Adventure,Comedy
14    15                                 Colossal         Action,Comedy,Drama
15    16                  The Secret Life of Pets  Animation,Adventure,Comedy
16    17                            Hacksaw Ridge     Biography,Drama,History
17    18                             Jason Bourne             Action,Thriller
18    19                                     Lion             Biography,Drama
19    20                                  Arrival        Drama,Mystery,Sci-Fi

                                          Description          Director  \
10  The adventures of writer Newt Scamander in New...       David Yates
11  The story of a team of female African-American...    Theodore Melfi
12  The Rebel Alliance makes a risky move to steal...    Gareth Edwards
13  In Ancient Polynesia, when a terrible curse in...      Ron Clements
14  Gloria is an out-of-work party girl forced to ...   Nacho Vigalondo
15  The quiet life of a terrier named Max is upend...      Chris Renaud
16  WWII American Army Medic Desmond T. Doss, who ...        Mel Gibson
17  The CIA's most dangerous former operative is d...   Paul Greengrass
18  A five-year-old Indian boy gets lost on the st...       Garth Davis
19  When twelve mysterious spacecraft appear aroun...  Denis Villeneuve

                                               Actors  Year  \
10  Eddie Redmayne, Katherine Waterston, Alison Su...  2016
11  Taraji P. Henson, Octavia Spencer, Janelle Mon...  2016
12  Felicity Jones, Diego Luna, Alan Tudyk, Donnie...  2016
13  Auli'i Cravalho, Dwayne Johnson, Rachel House,...  2016
14  Anne Hathaway, Jason Sudeikis, Austin Stowell,...  2016
15  Louis C.K., Eric Stonestreet, Kevin Hart, Lake...  2016
16  Andrew Garfield, Sam Worthington, Luke Bracey,...  2016
17  Matt Damon, Tommy Lee Jones, Alicia Vikander,V...  2016
18  Dev Patel, Nicole Kidman, Rooney Mara, Sunny P...  2016
19  Amy Adams, Jeremy Renner, Forest Whitaker,Mich...  2016

    Runtime (Minutes)  Rating   Votes  Revenue (Millions)  Metascore
10                133     7.5  232072              234.02       66.0
11                127     7.8   93103              169.27       74.0
12                133     7.9  323118              532.17       65.0
13                107     7.7  118151              248.75       81.0
14                109     6.4    8612                2.87       70.0
15                 87     6.6  120259              368.31       61.0
16                139     8.2  211760               67.12       71.0
17                123     6.7  150823              162.16       58.0
18                118     8.1  102061               51.69       69.0
19                116     8.0  340798              100.50       81.0

### 5. Data Selection - Based on Conditional Filtering

In [36]:
# Use the code block to select movies that have been released between 2010-2016, with a rating of less than 6.0, but generated a signifianct (top) revenue.
import pandas as pd

file_path = '/Users/charl/Desktop/LaunchCode-Data-Analysis/Data-Analysis-Projects/eda-with-pandas/studio/IMDB-Studio/IMDB-Movie-Data.csv'
data = pd.read_csv(file_path)

release_2010_2016 = data[(data['Year'] >= 2010) & (data['Year']<= 2016)]
less_than_6 = release_2010_2016[release_2010_2016['Rating'] < 6.0]
low_revenue = release_2010_2016['Revenue (Millions)'].quantile(0.90)
top_revenue = release_2010_2016[release_2010_2016['Revenue (Millions)']>= low_revenue]

print(top_revenue)

     Rank                                      Title  \
0       1                    Guardians of the Galaxy
3       4                                       Sing
4       5                              Suicide Squad
10     11    Fantastic Beasts and Where to Find Them
12     13                                  Rogue One
..    ...                                        ...
701   702                                        Ted
772   773                   How to Train Your Dragon
797   798                            Despicable Me 2
925   926  The Twilight Saga: Breaking Dawn - Part 1
941   942                 The Twilight Saga: Eclipse

                          Genre  \
0       Action,Adventure,Sci-Fi
3       Animation,Comedy,Family
4      Action,Adventure,Fantasy
10     Adventure,Family,Fantasy
12      Action,Adventure,Sci-Fi
..                          ...
701              Comedy,Fantasy
772  Animation,Action,Adventure
797  Animation,Adventure,Comedy
925     Adventure,Drama,Fantasy
941     Adventure,Drama,Fantasy

                                           Description              Director  \
0    A group of intergalactic criminals are forced ...            James Gunn
3    In a city of humanoid animals, a hustling thea...  Christophe Lourdelet
4    A secret government agency recruits some of th...            David Ayer
10   The adventures of writer Newt Scamander in New...           David Yates
12   The Rebel Alliance makes a risky move to steal...        Gareth Edwards
..                                                 ...                   ...
701  John Bennett, a man whose childhood wish of br...       Seth MacFarlane
772  A hapless young Viking who aspires to hunt dra...          Dean DeBlois
797  When Gru, the world's most super-bad turned su...         Pierre Coffin
925  The Quileutes close in on expecting parents Ed...           Bill Condon
941  As a string of mysterious killings grips Seatt...           David Slade

                                                Actors  Year  \
0    Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...  2014
3    Matthew McConaughey,Reese Witherspoon, Seth Ma...  2016
4    Will Smith, Jared Leto, Margot Robbie, Viola D...  2016
10   Eddie Redmayne, Katherine Waterston, Alison Su...  2016
12   Felicity Jones, Diego Luna, Alan Tudyk, Donnie...  2016
..                                                 ...   ...
701  Mark Wahlberg, Mila Kunis, Seth MacFarlane, Jo...  2012
772  Jay Baruchel, Gerard Butler,Christopher Mintz-...  2010
797  Steve Carell, Kristen Wiig, Benjamin Bratt, Mi...  2013
925  Kristen Stewart, Robert Pattinson, Taylor Laut...  2011
941  Kristen Stewart, Robert Pattinson, Taylor Laut...  2010

     Runtime (Minutes)  Rating   Votes  Revenue (Millions)  Metascore
0                  121     8.1  757074              333.13       76.0
3                  108     7.2   60545              270.32       59.0
4                  123     6.2  393727              325.02       40.0
10                 133     7.5  232072              234.02       66.0
12                 133     7.9  323118              532.17       65.0
..                 ...     ...     ...                 ...        ...
701                106     7.0  494641              218.63       62.0
772                 98     8.1  523893              217.39       74.0
797                 98     7.4  304837              368.05       62.0
925                117     4.9  190244              281.28       45.0
941                124     4.9  192740              300.52       58.0

[69 rows x 12 columns]

In [40]:
# Note: The article is expecting more than 1 Twilight movie at the time of publishing.  
#To find the second Twilight movie, try manipulating the quantile value.  
#How specific can you get?

import pandas as pd

file_path = '/Users/charl/Desktop/LaunchCode-Data-Analysis/Data-Analysis-Projects/eda-with-pandas/studio/IMDB-Studio/IMDB-Movie-Data.csv'
data = pd.read_csv(file_path)

twilight_movies = data[data['Title'].str.contains("Twilight", case=False, na=False)]
search_twilight_movies = twilight_movies.sort_values(by='Revenue (Millions)', ascending=False)
twilight_quantile = search_twilight_movies['Revenue (Millions)'].quantile(0.50)
more_twilight_movies = search_twilight_movies[search_twilight_movies['Revenue (Millions)'].between(twilight_quantile *0.95, twilight_quantile *1.05)]

print("Mid Quantile Revenue Range", twilight_quantile)
print("Movies Near Mid Quantile Revenue Range", more_twilight_movies)

Mid Quantile Revenue Range 286.78999999999996
Movies Near Mid Quantile Revenue Range      Rank                                      Title                    Genre  \
941   942                 The Twilight Saga: Eclipse  Adventure,Drama,Fantasy
366   367  The Twilight Saga: Breaking Dawn - Part 2  Adventure,Drama,Fantasy
925   926  The Twilight Saga: Breaking Dawn - Part 1  Adventure,Drama,Fantasy

                                           Description     Director  \
941  As a string of mysterious killings grips Seatt...  David Slade
366  After the birth of Renesmee, the Cullens gathe...  Bill Condon
925  The Quileutes close in on expecting parents Ed...  Bill Condon

                                                Actors  Year  \
941  Kristen Stewart, Robert Pattinson, Taylor Laut...  2010
366  Kristen Stewart, Robert Pattinson, Taylor Laut...  2012
925  Kristen Stewart, Robert Pattinson, Taylor Laut...  2011

     Runtime (Minutes)  Rating   Votes  Revenue (Millions)  Metascore
941                124     4.9  192740              300.52       58.0
366                115     5.5  194329              292.30       52.0
925                117     4.9  190244              281.28       45.0